body{
    background-color: cadetblue;
}
h1{
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    width: 35vw;
    font-size: x-large;
    text-align: justify;
    border-width: 4px;
    border-style: solid;
    border-color: brown;
    border-radius: 15px;
    padding: 1%;
}

span{
    font-family: monospace;
    font-size: xx-large;
}

#one {
    font-size:medium;
    font-weight:400;
    color: blue;
}
#two{
    font-size: larger;
    font-weight: 600;
    font-stretch: narrower;
    color: yellow;
}
